{% extends "auctions/layout.html" %}
{% load crispy_forms_tags %}

{% block body %}
<h3>Create Listing</h3>
<form action="{% url 'create' %}" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="form-group"> 
        <label for="categories" class="requiredField">Category<span class="asteriskField">*</span> </label> 
        <div>
            <select name="categories" required>
                {% for category in categories %}
                <option value="{{ category.id }}">{{ category }}</option>
                {% endfor %}
            </select>
        </div> 
    </div>
    <br><br>
    <input type="submit" class="btn btn-primary">
</form>
{% endblock %}
