{% extends "auctions/layout.html" %}

{% block body %}
<h3>Active listings</h3>
{% if listings %}
    {% for listing in listings %} 
        <div class="item">
            <table class="listingTable">
                <tbody>
                    <tr>
                        <td style="width:35%%;">
                            <a href="{% url 'listing' listing.id %}" ><img src="{{ listing.img_url }}" style="width:75%;"/></a>
                        </td>
                        <td style="width: 45%;" valign="top">
                            <h4>{{ listing.title }}</h4>
                            <div>{{ listing.description }}</div>
                            <div>Price: {{ listing.price }} $</div>
                            <div>By: {{ listing.user }}</div>
                            <div>{{ listing.created_at|date:"M d, Y" }}</div>
                        </td>
                        <td style="width: 20%; padding-left: 30px;" valign="top">
                            <a href="{% url 'listing' listing.id %}" class="btn btn-primary" role="button" aria-pressed="true">View Item</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    {% endfor %}
{% else %}
    <div>No active listings</div>
{% endif %}
{% endblock %}
